In [2]:
import IPython
assert IPython.version_info[0] >= 3, "Ihre IPython Version ist veraltet. Bitte nutzen Sie Version >=3 von IPython"

In [3]:
import sqlite3

In [4]:
# create in-memory databases
conn = sqlite3.connect(':memory:')
c = conn.cursor()
#create table
c.execute("""CREATE TABLE employees (
first text,
last text,
pay integer
)""")
# insert a data record
c.execute("INSERT INTO employees VALUES ('John', 'Doe', 80000)")
c.execute("INSERT INTO employees VALUES ('Jane', 'Doe', 90000)")
conn.commit()

In [5]:
c.execute("SELECT * FROM employees WHERE last='Doe'")
c.fetchall()

[('John', 'Doe', 80000), ('Jane', 'Doe', 90000)]

In [6]:
c.execute("Drop TABLE employees")
conn.commit()
conn.close()

In [7]:
import pandas as pd

In [8]:
original_sports = pd.Series({'Archery': 'Bhutan',
'Golf': 'Scotland',
'Sumo': 'Japan',
'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
'Barbados',
'Pakistan',
'England'],
index=['Cricket',
'Cricket',
'Cricket',
'Cricket'])
all_countries = pd.concat([original_sports, cricket_loving_countries])

In [9]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [10]:
purchase_1 = pd.Series({'Name': 'Chris',
'Item Purchased': 'Dog Food',
'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
'Item Purchased': 'Kitty Litter',
'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
'Item Purchased': 'Bird Seed',
'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [11]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: object